<% provide :title, t("static_pages.about.title") %>
<h1><%= t("static_pages.about.title") %></h1>
<p>
  <%= link_to t("static_pages.about.a_content_html"), Settings.urls.about.tutorial_rails, target: :_blank %>
  <%= t("static_pages.about.a_tail") %>
</p>
