<% provide :title, t("static_pages.contact.title") %>
<h1><% t("static_pages.contact.title") %></h1>
<p>
<%= t("static_pages.contact.a_head") %>
<%= link_to t("static_pages.contact.a_content"), Settings.urls.contact.tutorial_contact, target: :_blank %>
</p>
